body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, hsla(234, 87%, 36%, 0.722), hsla(315, 83%, 52%, 0.713));
    margin: 0;
    padding: 0;
    color: white;
}

#header {
    color:#ffffff;
    font-size: 110px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-item{
    font-size: 32px;
    text-align: left;
    margin-right: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dropdown-size {
    height: 70px;
    width: 300px;
}

.submit-button {
    background: linear-gradient(to bottom, #f27fa5, #f06395);
    height: 70px;
    width:300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 15px;
}

.submit-button:hover {
    background: linear-gradient(to bottom, #a8174a, #ff4081);
}

/* .stream-button{
    padding: 10px;
    background-color: rgb(88, 212, 212);
    color: rgb(252, 251, 251);
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 32px;
    margin-top: 3px;
    list-style-type: none;
}

.stream-button:hover{
    background: linear-gradient(to bottom, rgb(88, 212, 212), #29b9f7);
} */
