body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, hsla(234, 87%, 36%, 0.722), hsla(315, 83%, 52%, 0.713));
    margin: 0;
    padding: 0;
    color: white;
}

#header {
    color:#ffffff;
    font-size: 110px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-item{
    font-size: 32px;
    text-align: left;
    margin-right: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dropdown-size {
    height: 70px;
    width: 300px;
}

.submit-button {
    background: linear-gradient(to bottom, #f27fa5, #f06395);
    height: 70px;
    width:300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 15px;
}

.submit-button:hover {
    background: linear-gradient(to bottom, #a8174a, #ff4081);
}

.stream-button:hover{
    background: linear-gradient(to bottom, rgb(88, 212, 212), #29b9f7);
}

#giphy-container {
    margin-top: 15px; /* Add space between the Giphy image and other elements */
}

#giphy-container img {
    max-width: 100%; /* image doesn't overflow its container */
    height: auto;
    border-radius: 8px; 
    
}

@media screen and (max-width: 650px)
{
    .dropdown-item{
        font-size: 13px;
        text-align: left;
        margin-right: 5px;
    }
    
    #header {
        color:#ffffff;
        font-size: 50px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px)
{
    .dropdown-item{
        font-size: 20px;
        text-align: left;
        margin-rightz: 5px;
    }
    #header {
        color:#ffffff;
        font-size: 80px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 4000px) and (min-width: 1000px)
{
    .dropdown-item{
        font-size: 32px;
        text-align: left;
        margin-right: 5px;
    }  
    #header {
        color:#ffffff;
        font-size: 110px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}